.cart_button {
  background-color: var(--lightgreen);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
.cart_button .cartbuttonicon:hover {
  color: var(--white);
}
.cart_button:hover {
  background-color: var(--darkgreen);
}
