.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1.6rem;
  height: 80px;
  border-radius: 13px;
  color: var(--black);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 9999;
  transform: translate(-50%);
  left: 50%;
  top: 20px;
  width: 95%;
  font-weight: 550;
}

.header_logo_wrapper span {
  margin-left: 0.3rem;
  color: var(--lightgreen);
  font-weight: 650;
  font-size: 1.3rem;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.menulink li {
  display: inline-block;
  padding: 0 1.4rem;
  list-style-type: none;
}
.menulink li a {
  color: var(--black);
  text-decoration: none;
}
.menulink li button {
  font-weight: 550;
}
.menulink li a:hover,
.menulink li button:hover {
  color: var(--darkgreen);
}
.menu-toggle {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 64rem) {
  .header {
    padding: 0 1rem;
  }
  .menulink li {
    padding: 0 0.8rem;
  }
  .header_logo_wrapper span {
    font-size: 1rem;
  }
  .menulink li a {
    font-size: 0.8rem;
  }
  .menulink li button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 48rem) {
  .header__logo {
    margin-left: -0.8rem;
    height: 1.1rem;
    width: 1.1rem;
  }
  .header__right {
    margin-right: -1.2rem;
  }
  .header__right > div {
    margin-left: -0.8rem;
  }
}
@media only screen and (max-width: 31rem) {
  .menu-toggle {
    display: block;
  }
  .menulink {
    display: none;
  }
  .menulink.open {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    top: 100%;
    overflow: none;
    z-index: 9999;
    right: 0;
    width: 100%;
    background-color: cadetblue;
    transition: all 0.5s ease-out;
  }

  .menulink.open li {
    margin-bottom: 0.7rem;
    margin-right: 0;
  }
  .menulink.open li:last-child {
    margin-bottom: 0;
  }
  .menulink.open li a {
    color: white;
  }
  .menulink.open li button p {
    color: white;
  }
}
